body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #6c5ce7, #a29bfe);
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: white;
  padding: 35px;
  width: 350px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 10px;
}

.auth-card input,
.auth-card select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #6c5ce7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.switch {
  margin-top: 15px;
}
